.silame{
    margin-top: 70px;
	margin-bottom: 70px;
	margin-left: 70px;
}
h1{
    text-align: center;
    color: rgb(17, 17, 187);
}
div{
    margin-top: 70px;
	margin-bottom: 70px;
	margin-left: 70px;
    margin-right: 70px;
    width: 80%;
	height: 80%;
    border-top: solid 2px rgb(106, 21, 185);
    border-left: solid 1px wheat;
    border-bottom: solid 2p rgb(111, 22, 194);
    border-right: solid 1px wheat;
    padding: 10px;
}
.moussa{
    width: 90%;
	height: 90%;
}
.contenir{
    width: 80%;
	height: 80%;
}
DIv{
    border: solid 1.5px wheat;
    
}
style{
    text-decoration: Line-throught; pointer-events: none;
}
